      /* Add CSS styles here */
      body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
      }
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }
      h1, h2 {
        color: #8b0000;
      }
      ul {
        list-style-type: disc;
        margin-left: 20px;
      }
      img {
        max-width: 100%;
      }
