      /* Add CSS styles here */

      body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
      }

      nav {
        background-color: antiquewhite;
        padding: 10px;
      }
      a {
        color: #790006;
        text-decoration: none;
        font-size: 22px;
      }
      a:hover{
        text-decoration: underline;
        color: black;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      h1, h2, h3 {
        color: #8b0000;
      }
      ul {
        list-style-type: disc;
        margin-left: 20px;
      }
      img {
        margin-top: 10px;
        max-width: 100%;
      }
